@import "colors";

@flavor_list_bg: #fbfbfb;

flavor-list {
    width: 100%;
}

.flavor-category {
    color: @color2;
    padding-bottom: 10px;
}

.flavor-category-list {
    background-color: @flavor_list_bg;
    padding: 10px;
}

.flavor-block {
    padding: 10px;

    &:not(:last-child) {
        .flavor-separator {
            height: 1px;
            background-color: @extra_light_grey;
            margin-left: auto;
            margin-right: auto;
            margin-top: 20px;
        }
    }

    .flavor-name {
        font-weight: bold;
        margin-bottom: 6px;
    }

    .flavor-description {
        color: @light_grey;
    }
}

