@import "../lib/uikit/src/less/uikit.less";
@import "colors";

body {
}

.main-navbar {

  #navbar-links {
    padding-left: 60px;

    li a {
      letter-spacing: 1.5px;
      font-size: 1.2em;
      font-weight: 600;
      color: @color5;

      &:link, &:visited, &:hover, &:active {
        background-color: transparent;
      }

      &:hover {
        border-bottom: solid 2px @color5;
      }
    }
  }

  .uk-navbar {
  position: relative;
    height: 90px;
    padding: 25px;
    margin-bottom: 10px;
    background-color: @color3;
    color: @color2;

    ul {
      position: absolute;
      bottom: 6px;
      left: 300px;
    }
  }

  #navbar-img {
    max-height: 100px;
  }
}

.border-bottom-dashed {
  border-bottom: solid 1px @extra_light_grey;
}
.border-top-dashed {
  border-top: solid 1px @extra_light_grey;
}

.content-wrapper {
  background-color: #ffffff;
  padding: 40px;
  max-width: 1290px;
  margin: auto;
}

.uk-panel-box {
  background-color: #ffffff;
}

.uk-panel > :not(.uk-panel-title):last-child {
  margin-right: 10px;
}

#home-logo {
  img {
    max-width: 300px;
  }
  padding-bottom: 58px;
}

.home-page-blurb {
  padding: 0px 8px;
}

// SLIDESHOW
.uk-slideshow {
  max-height: 400px;
}

// MAP
.google-maps {
  position: relative;
  padding-bottom: 80%; // This is the aspect ratio
  height: 0;
  overflow: hidden;
}
.google-maps iframe {
  position: absolute;
  top: 0;
  left: 0; width: 100% !important;
  height: 100% !important;
}
.map-info {
  margin: 14px 10px;
  p {
    margin: 0;
    margin-bottom: 7px;

  }

  .map-sub-info {
    color: @light_grey;

    a {
      color: @light_grey;
    }

    p:hover, a:hover {
      color: @dark_grey;
    }
  }
}

.page-title {
    padding-bottom: 10px;
    border-bottom: solid 1px @extra_light_grey;
    color: @color3;
}

.about-us-info-wrapper {
  width: 100%;
  margin-top: 30px;

  .uk-panel-box {
    background-color: #f5f5f5;
    margin: 0 4px;

    .uk-panel-panel-title {
      i {
        padding-right: 6px;
      }
    }

  }
}

.about-us-info-icons {
  margin-right: 10px;
}

.about-us-info-text {
  overflow: hidden;
  padding-left: 13px;

  .uk-icon-facebook-official {
    color: #3b5998;
  }

  .uk-icon-instagram {
    color: #9b6954
  }
}

#about-us-banner-img {
  max-height: 600px;
}
@import "flavors";
