<div class="navbar main-navbar">
  <nav class="uk-navbar uk-navbar-attached">
    <a id="baileys-navbar-brand" class="uk-navbar-brand" href="/">
      <img id="navbar-img" src="img/baileys_logo-white.png">
    </a>

    <ul id="navbar-links" class="uk-navbar-nav">
      <li><a href="/flavors">Flavors</a></li>
      <li><a href="/about-us">About Us</a></li>
    </ul>

  </nav>
</div>
