<div class="uk-flex uk-flex-wrap uk-flex-center">

  <div class="uk-flex uk-flex-center">
    <div class="uk-width-medium-2-3">
      <img id="about-us-banner-img" src="img/about_us_banner.jpg"/>
    </div>
  </div>

  <div class="uk-flex uk-flex-center uk-flex-wrap about-us-info-wrapper">
    <div class="uk-width-medium-1-6 uk-panel uk-panel-box">
      <h3 class="uk-panel-title">
        <i class="uk-icon-clock-o"></i>&nbsp;&nbsp;
        Hours
      </h3>
      <div class="uk-container-center about-us-info-text">
        <div>11:00 a.m - 10 p.m</div>
      </div>
    </div>

    <div class="uk-width-medium-1-6 uk-panel uk-panel-box">
      <h3 class="uk-panel-title">
        <i class="uk-icon-map"></i>&nbsp;&nbsp;
        Find Us
      </h3>
      <div class="uk-container-center about-us-info-text">
        <div>5 Railroad Ave</div>
        <div>Wolfeboro, NH 03894</div>
      </div>
    </div>

    <div class="uk-width-medium-1-6 uk-panel uk-panel-box">
      <h3 class="uk-panel-title">
        <i class="uk-icon-phone"></i>&nbsp;&nbsp;
        Call Us
      </h3>
      <div class="uk-container-center about-us-info-text">
        603-123-1234
      </div>
    </div>

    <div class="uk-width-medium-1-6 uk-panel uk-panel-box">
      <h3 class="uk-panel-title">
        <i class="uk-icon-globe"></i>&nbsp;&nbsp;
        We're online
      </h3>
      <div class="uk-container-center about-us-info-text">
        <i class="uk-icon-facebook-official uk-icon-medium" aria-hidden="true"></i>
        &nbsp;&nbsp;
        <i class="uk-icon-instagram uk-icon-medium" aria-hidden="true"></i>
      </div>
    </div>

  </div>

</div>
