<div class="uk-flex uk-flex-wrap border-bottom-dashed">
  <div class="uk-width-medium-2-3 uk-panel">
    <div class="uk-panel uk-panel-box">
      <div id="home-logo" class="uk-text-center">
        <img src="img/baileys_logo.png">
      </div>
      <ul class="uk-slideshow" data-uk-slideshow="{autoplay:true, autoplayInterval: 1000}">
        <li><img src="img/1.jpg"></li>
        <li><img src="img/2.jpg"></li>
      </ul>
    </div> <!-- end uk-panel-box -->

    <div class="uk-panel uk-panel-box uk-margin-top">
      <p class="home-page-blurb uk-text-justify">
      Come enjoy the best ice cream in America's Oldest Summer Resort! We are located on the corner of Railroad Ave. and South Main Street in beautiful Wolfeboro, NH. Savor a tasty ice cream cone while strolling through nearby Cate Park. Be sure to try our Homemade Hot Fudge with your favorite ice cream.
      </p>

      <p class="home-page-blurb">
        <a href="https://www.facebook.com/BaileysBubble/" target="_blank"><i class="uk-icon-facebook-official"></i>&nbsp;&nbsp;Find us on Facebook!</a>
        </p>
    </div>
  </div> <!-- end uk-panel -->

  <div class="uk-width-medium-1-3 uk-panel">
    <div class="uk-panel uk-panel-box border-bottom-dashed">
      <h1>Hours</h1>

      <p>11:00 am - 10:00 pm</p>

      <p>We're open <strong>everyday</strong>. Our season starts every year on Memorial Day weekend in May to Columbus Day weekend in October.</p>
    </div> <!-- end uk-panel-box -->

    <div class="uk-panel uk-panel-box">
      <h1>Find Us</h1>
      <div class="google-maps">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d984.6258232252587!2d-71.21302366628794!3d43.58460614684436!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xf33fc7a738ddbfa9!2sBailey&#39;s+Bubble!5e0!3m2!1sen!2sus!4v1462508394473" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>

      <div class="map-info">
        <p><span class="uk-text-bold">5 Railroad Ave</span><br/>Wolfeboro, NH 03894</p>
        <div class="map-sub-info">
          <p><a href="https://www.google.com/maps/dir//Bailey's+Bubble/@43.5847007,-71.2127736,15z/data=!4m5!3m4!1s0x0:0xf33fc7a738ddbfa9!8m2!3d43.5847007!4d-71.2127736" target="_blank"><i class="uk-icon-map"></i>&nbsp;&nbsp;Directions</a></p>
          <p><i class="uk-icon-phone"></i>&nbsp;&nbsp;(603) 569-3612</p>
        </div>
      </div>

    </div> <!-- end uk-panel-box -->

  </div> <!-- end uk-panel -->
</div>

<script>
  UIkit.slideshow('.uk-slideshow', {autoplay: true, autoplayInterval: 7500});
</script>
