<div>
  <div class="uk-panel uk-panel-box uk-panel-divider" ng-repeat="(category, flavors) in vm.flavors">
    <h2 class="flavor-category" ng-bind="category"></h2>
    <ul class="uk-list flavor-category-list">
      <li class="flavor-block" ng-repeat="flavor in flavors">
        <h3 class="flavor-name" ng-bind="flavor.name"></h3>
        <div class="flavor-description" ng-bind="flavor.description"></div>
        <div class="flavor-separator"></div>
      </li>
    </ul>
  </div>
</div>
